body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
}



#image {
    height: 300px;
    width: 400px;
    background-color: lightgray;
    border: 3px solid yellow;
    margin: 20px auto;
    text-align: center;
    line-height: 300px;
    font-size: 1.2rem;
    color: rgb(203, 17, 217);
}

.preview{
    height: 200px;
    width: 200px;
    margin: 10px;
border: .2rem solid yellow;
cursor: pointer;
transition: transform .3s , border-color 0.3;
}
.preview:hover{
    transform: scale(1.05);
    border: 3px solid gold ;
}
